schema = 1

[defaults]
user = {{ username | tojson }}

[users.{{ username | tojson }}]
username = {{ username | tojson }}
full_name = {{ full_name | tojson }}
email = {{ email | tojson }}
github = {{ github | tojson }}
