{% if os() == "macos" %}
[core]
    pager = bat -l gitlog -p
[pager]
    diff = hunk pager
    show = hunk pager
[commit]
    gpgsign = true
{% else %}
[commit]
    gpgsign = false
[diff]
    external = difft
{% endif %}
